body {
  margin: 0;
  font-family: Arial;
  background: #111b21;
  color: white;
  text-align: center;
}

/* Screens */
#welcome, #login, #secretLock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Inputs */
input {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 70%;
}

/* Buttons */
button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #00a884;
  color: white;
  margin: 5px;
}

/* Contacts */
#contactsList div {
  padding: 15px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

/* Chat */
#chatBox {
  height: 300px;
  overflow-y: auto;
  background: #0b141a;
  margin: 10px;
  padding: 10px;
}

.message {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  background: #005c4b;
}

.input-area {
  display: flex;
  justify-content: center;
}


